body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height:1.8em;
    color : #666;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.pimg1, .pimg2, .pimg3, .pimg4{
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimg1{
    background-image: url("../../../images/candle5.avif");
    min-height: 100%;
    
}

.pimg2{
    background-image: url("../../../images/candle5.avif");
    min-height: 400px;
    
}

.pimg3{
    background-image: url("../../../images/books2.webp");
    min-height: 400px;
    
}
.pimg4{
    background-image: url("../../../images/books3.webp");
    min-height: 400px;
    
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: #f4f4f4;
    color: #666
}

.section-dark{
    background-color: #282e34;
    color: #ddd
}

/* .ptext-1{
    position: relative;
    top: 50px;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
} */
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color: white;
    padding: 20px;
}

.border .trans{
    background-color: transparent;
}
a{
    text-decoration: none;
    color: white;
}

@media(max-width: 568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: normal;
    }

    .ptext .border {
    /* padding-top: 4px;
    padding-bottom: 4px; */
    padding: 4px;
    background-color: #111;
    color: white;
    letter-spacing: 3px;
    }

    .section {
        text-align: justify;
        padding: 36px 43px;
    }
}